.navbar-content{
    position: fixed;
}
.clear{
    clear: both;
}
#loading{
    background-color: white;
    opacity:0.4;
}
#detail{
    margin: 5% 10%;
    position: fixed;
    width: auto;
    height: auto;
    overflow: auto;
    z-index: 1000;
}
#detail .modal-dialog{
    font-size: 130%;
    margin: 0px;
    padding: 0px;
    width: auto;
    height: auto;
}
div{
    word-wrap: break-word;
    word-break:break-all;
}
#loading img{
    display:block;
    position:relative;
    margin:auto;
}
img {
    max-width: 100%;
    max-height: 700px;
}
.unfinished{
    text-decoration: line-through;
}