{% extends "base.html" %}
{% block content %}

            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row" id="page-header">
                    <div class="col-sm-12">
                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="clip-home-3"></i>
                                <a href="#">
                                    安全部漏洞信息
                                </a>
                            </li>
                        </ol>
                        <br/>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->

                <div class="row">
                    <div class="col-md-12">
                        <!-- start: FORM VALIDATION 1 PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa clip-bars teal"></i> 安全部漏洞统计
                                <div class="panel-tools">
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="tabbable col-md-12">
                                        <ul  class="nav nav-tabs tab-green">
                                            <li class="active">
                                                <a href="#panel_tab4_1" data-toggle="tab" aria-expanded="true" id="chart1">
                                                    <i class="blue fa clip-airplane"></i> 各组漏洞统计
                                                </a>
                                            </li>
                                            <li class="">
                                                <a href="#panel_tab4_2" data-toggle="tab" aria-expanded="false" id="chart2">
                                                    <i class="pink fa clip-calendar"></i> 单组漏洞统计
                                                </a>
                                            </li>

                                        </ul>
                                        <div class="tab-content">
                                            <div class="tab-pane active" id="panel_tab4_1">
                                                <div class="col-md-2">
                                                    <button class="btn btn-info btn-block" id="chart1-last-2-year" type="button">
                                                        最近两年数据 <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-info btn-block" id="chart1-last-3-year" type="button">
                                                        最近三年数据 <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-info btn-block" id="chart1-all-year" type="button">
                                                        全部 <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="tab-pane" id="panel_tab4_2">
                                                <div class="row">
                                                <div class="col-md-1">
                                                    <div class="form-group">
                                                        <label class="control-label">
                                                            产品组 <span class="symbol"></span>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-2">
                                                    <div class="form-group">
                                                        <select id="group" class="form-control" name="group">
                                                            <option value="LUNA">LUNA</option>
                                                            <option value="笔记">笔记</option>
                                                            <option value="广告">广告</option>
                                                            <option value="惠惠">惠惠</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                </div>
                                                <div class="row">
                                                <div class="col-md-2">
                                                    <button class="btn btn-info btn-block" id="chart2-last-2-year" type="button">
                                                        最近两年数据 <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-info btn-block" id="chart2-last-3-year" type="button">
                                                        最近三年数据 <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                                <div class="col-md-2">
                                                    <button class="btn btn-info btn-block" id="chart2-all-year" type="button">
                                                        全部 <i class="fa fa-arrow-circle-right"></i>
                                                    </button>
                                                </div>
                                                    </div>

                                            </div>
                                            <div class="clear"></div>
                                        </div>
                                    </div>
                                </div>
                                <br>

                                <br>
                                <div id="main" style="width: 1000px;height:500px;">

                                </div>
                            </div>
                        </div>
                        <!-- end: FORM VALIDATION 1 PANEL -->
                    </div>
                </div>

                <!-- end: PAGE CONTENT-->
            </div>
        </div>
        <!-- end: PAGE -->
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- start: FOOTER -->
    <div class="footer clearfix">
        <div class="footer-inner">
            <script>
                document.write(new Date().getFullYear())
            </script>
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
    </div>
    <!-- end: FOOTER -->

    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="/static/bower_components/respond/dest/respond.min.js"></script>
        <script src="/static/bower_components/Flot/excanvas.min.js"></script>
        <script src="/static/bower_components/jquery-1.x/dist/jquery.min.js"></script>
        <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <!--<![endif]-->

    <script type="text/javascript" src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/static/bower_components/iCheck/icheck.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/min/main.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <script src="/static/echarts/js/echarts.min.js"></script>
    <script src="/static/assets/js/min/form-elements.min.js"></script>
    <script type="text/javascript" src="/static/testinfo/testinfo.js"></script>
    <script>
        $(document).ready(function() {
            chartsinit();
        });
    </script>
{% endblock %}