{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- start: PAGE HEADER -->
    <div class="row" id="page-header">
        <div class="col-sm-12">
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li>
                    <i class="clip-home-3"></i>
                    <a href="#">
                        市场份额数据
                    </a>
                </li>
            </ol>
            <br/>
            <!-- end: PAGE TITLE & BREADCRUMB -->
        </div>
    </div>
    <!-- end: PAGE HEADER -->
    <!-- start: PAGE CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- start: FORM VALIDATION 1 PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-line-chart teal"></i>Analyzer2数据
                    <div class="panel-tools">
                        <a class="btn btn-xs btn-link panel-close" href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-block alert-info fade in">
                                    <h4 class="alert-heading"><i class="fa fa-info-circle"></i> 说明</h4>
                                    <ul>
                                        <li>操作：
                                            <ol>
                                                <li>
                                                    先选择筛选信息，再点击按钮出图
                                                </li>
                                                <li>
                                                    点击图例可隐藏不需要的部分，百分比数据将动态更新。
                                                </li>
                                                <li>
                                                    点击右上角 <i class="clip-download"></i> 图标可下载图片
                                                </li>
                                                <li>
                                                    图例已按最新数据从大到小的顺序排好（左→右，上→下）。
                                                </li>
                                            </ol>

                                        </li>
                                        <li>
                                            数据来源于李斯宁的analyzer2。
                                        </li>
                                        <li>
                                            翻译官只有ios/android 操作系统的数据。分辨率数据暂缺。
                                        </li>
                                        <li>
                                            词典只有ios/android/pc 操作系统的数据。分辨率数据暂缺。
                                        </li>
                                        <li>
                                            E读只有android 操作系统/分辨率的数据。
                                        </li>
                                        <li>
                                            笔记只有android 操作系统/分辨率， ios/pc 操作系统， web 操作系统/浏览器的数据。
                                        </li>
                                        <li>
                                            精品课数据暂缺。
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="alert alert-block alert-warning fade in">
                                    <h4 class="alert-heading"><i class="fa fa-exclamation-triangle"></i> 警告!</h4>
                                    <h5>analyzer上的数据均属公司机密，请对外保密！！</h5>
                                </div>
                            </div>
                        </div>
                    <form action="" role="form" id="form">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">
                                        产品名 <span class="symbol"></span>
                                    </label>
                                    <select id="productname" class="form-control" name="productname">
                                    </select>
                                </div>
                            </div>
                             <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">
                                        平台 <span class="symbol"></span>
                                    </label>
                                    <select id="platform" class="form-control" name="platform">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">
                                        类型 <span class="symbol"></span>
                                    </label>
                                    <select id="type" class="form-control" name="type">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">
                                        图表类型 <span class="symbol"></span>
                                    </label>
                                    <select id="mode" class="form-control" name="mode">
                                        <option value="1">最新数据-饼图</option>
                                        <option value="2">变化趋势-折线图</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-info btn-block" id="last-1-day" type="button">
                                    1天 <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-info btn-block" id="last-7-day" type="button">
                                    7天 <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-info btn-block" id="last-30-day" type="button">
                                    30天 <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                   <br>
                    <div class="row" id="canvasrow">

                    </div>
                </div>
            </div>
            <!-- end: FORM VALIDATION 1 PANEL -->
        </div>
    </div>


    <!-- end: PAGE CONTENT-->
</div>
</div>
<!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->
<!-- start: FOOTER -->
<div class="footer clearfix">
    <div class="footer-inner">
        <script>
            document.write(new Date().getFullYear())
        </script>
    </div>
    <div class="footer-items">
        <span class="go-top"><i class="clip-chevron-up"></i></span>
    </div>
</div>
<!-- end: FOOTER -->

<!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="/static/bower_components/respond/dest/respond.min.js"></script>
        <script src="/static/bower_components/Flot/excanvas.min.js"></script>
        <script src="/static/bower_components/jquery-1.x/dist/jquery.min.js"></script>
        <![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!--<![endif]-->

<script type="text/javascript" src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="/static/bower_components/blockUI/jquery.blockUI.js"></script>
<script type="text/javascript" src="/static/bower_components/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="/static/bower_components/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="/static/bower_components/jquery.cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="/static/assets/js/min/main.min.js"></script>
<!-- end: MAIN JAVASCRIPTS -->
<script type="text/javascript" src="/static/echarts/js/echarts.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/assets/js/min/form-elements.min.js"></script>
<script type="text/javascript" src="/static/testinfo/testinfo.js"></script>
<script>
    $(document).ready(function() {
        productsshareinit();
    });
</script>
{% endblock %}