{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- start: PAGE HEADER -->
    <div class="row" id="page-header">
        <div class="col-sm-12">
            <!-- start: PAGE TITLE & BREADCRUMB -->
            <ol class="breadcrumb">
                <li>
                    <i class="clip-home-3"></i>
                    <a href="#">
                        市场份额数据
                    </a>
                </li>
            </ol>
            <br/>
            <!-- end: PAGE TITLE & BREADCRUMB -->
        </div>
    </div>
    <!-- end: PAGE HEADER -->
    <!-- start: PAGE CONTENT -->
    <div class="row">
        <div class="col-md-12">
            <!-- start: FORM VALIDATION 1 PANEL -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-line-chart teal"></i>Analyzer2数据
                    <div class="panel-tools">
                        <a class="btn btn-xs btn-link panel-close" href="#">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="alert alert-block alert-info fade in">
                                    <h4 class="alert-heading"><i class="fa fa-info-circle"></i> 说明</h4>
                                    <ul>
                                        <li>操作：
                                            <ol>
                                                <li>
                                                    先选择筛选信息，再点击按钮出图
                                                </li>
                                                <li>
                                                    点击图例可隐藏不需要的部分，百分比数据将动态更新。
                                                </li>
                                                <li>
                                                    点击右上角 <i class="clip-download"></i> 图标可下载图片
                                                </li>
                                                <li>
                                                    图例已按最新数据从大到小的顺序排好（左→右，上→下）。
                                                </li>
                                            </ol>

                                        </li>
                                        <li>
                                            数据来源于李斯宁的analyzer2。
                                        </li>
                                        <li>
                                            翻译官只有ios/android 操作系统的数据。分辨率数据暂缺。
                                        </li>
                                        <li>
                                            词典只有ios/android/pc 操作系统的数据。分辨率数据暂缺。
                                        </li>
                                        <li>
                                            E读只有android 操作系统/分辨率的数据。
                                        </li>
                                        <li>
                                            笔记只有android 操作系统/分辨率， ios/pc 操作系统， web 操作系统/浏览器的数据。
                                        </li>
                                        <li>
                                            精品课数据暂缺。
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="alert alert-block alert-warning fade in">
                                    <h4 class="alert-heading"><i class="fa fa-exclamation-triangle"></i> 警告!</h4>
                                    <h5>analyzer上的数据均属公司机密，请对外保密！！</h5>
                                </div>
                            </div>
                        </div>
                    <form action="" role="form" id="form">
                        <div class="row">
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">
                                        产品名 <span class="symbol"></span>
                                    </label>
                                    <select id="productname" class="form-control" name="productname">
                                    </select>
                                </div>
                            </div>
                             <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">
                                        平台 <span class="symbol"></span>
                                    </label>
                                    <select id="platform" class="form-control" name="platform">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">
                                        类型 <span class="symbol"></span>
                                    </label>
                                    <select id="type" class="form-control" name="type">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">
                                        图表类型 <span class="symbol"></span>
                                    </label>
                                    <select id="mode" class="form-control" name="mode">
                                        <option value="1">最新数据-饼图</option>
                                        <option value="2">变化趋势-折线图</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <button class="btn btn-info btn-block" id="last-1-day" type="button">
                                    1天 <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-info btn-block" id="last-7-day" type="button">
                                    7天 <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                            <div class="col-md-2">
                                <button class="btn btn-info btn-block" id="last-30-day" type="button">
                                    30天 <i class="fa fa-arrow-circle-right"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                   <br>
                    <div class="row" id="canvasrow">

                    </div>
                </div>
            </div>
            <!-- end: FORM VALIDATION 1 PANEL -->
        </div>
    </div>


    <!-- end: PAGE CONTENT-->
</div>
</div>
<!-- end: PAGE -->
</div>
<!-- end: MAIN CONTAINER -->
<!-- start: FOOTER -->
<div class="footer clearfix">
    <div class="footer-inner">
        <script>
            document.write(new Date().getFullYear())
        </script>
    </div>
    <div class="footer-items">
        <span class="go-top"><i class="clip-chevron-up"></i></span>
    </div>
</div>
<!-- end: FOOTER -->

<!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="/static/bower_components/respond/dest/respond.min.js"></script>
        <script src="/static/bower_components/Flot/excanvas.min.js"></script>
        <script src="/static/bower_components/jquery-1.x/dist/jquery.min.js"></script>
        <![endif]-->
<!--[if gte IE 9]><!-->
<script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
<!--<![endif]-->

<script type="text/javascript" src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
<script type="text/javascript" src="/static/bower_components/blockUI/jquery.blockUI.js"></script>
<script type="text/javascript" src="/static/bower_components/iCheck/icheck.min.js"></script>
<script type="text/javascript" src="/static/bower_components/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
<script type="text/javascript" src="/static/bower_components/jquery.cookie/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/bower_components/sweetalert/dist/sweetalert.min.js"></script>
<script type="text/javascript" src="/static/assets/js/min/main.min.js"></script>
<!-- end: MAIN JAVASCRIPTS -->
<script type="text/javascript" src="/static/echarts/js/echarts.min.js" charset="UTF-8"></script>
<script type="text/javascript" src="/static/assets/js/min/form-elements.min.js"></script>
<script type="text/javascript" src="/static/testinfo/testinfo.js"></script>
<script>
    function getproductsshare(dateType, dateSymbol){
        var productname = $("#productname").val(),
            type = $("#type").val(),
            platform = $("#platform").val(),
            mode = $("#mode").val();
        $.getJSON("/api/getps",
            {
                "productname": productname,
                "type": type,
                "platform": platform,
                "datetype": dateType,
                "mode": mode
            }
            , function (ret)
            {
                $("#canvasrow").children().remove();
                result = ret['result'];
                for (var site in result)
                {

                    if (mode == '1')
                    {
                        $("#canvasrow").append('<div class="col-md-6"><div id="' + site + '" style="width: 500px;height:400px;"></div></div>');
                        var dlist = [],
                            namelist = [],
                            myChart = echarts.init(document.getElementById(site)),
                            datas = result[site]['data'];
                        for (var name in datas) {
                            dlist.push({'name': name, 'value': datas[name]['value']});
                        }
                        dlist = dlist.sort(function (a, b) {
                                        return b.value - a.value
                                    });
                        for (var d in dlist){
                            namelist.push(dlist[d]['name']);
                        }
                        var option = {
                            title: {
                                text: ret['title'] + ' '  + site.toUpperCase() + ' ' + dateSymbol + ' 数据',
                                left: 'left'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b} : {c} / {d}%"
                            },
                            legend: {
                                data: namelist,
                                orient: 'vertical',
                                x: 'right',
                                top:'10%',
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {},
                                },
                                right:'5%'
                            },
                            visualMap: {
                                show: false,
                                min: 80,
                                max: 600,
                                inRange: {
                                    colorLightness: [0, 1]
                                }
                            },
                            color: [
                                "#81C2D6",
                                "#8192D6",
                                "#D9B3E6",
                                "#DCF7A1",
                                "#83FCD8",
                                "#61FF69",
                                "#B8F788",
                                "#58D2E8",
                                "#F2B6B6",
                                "#E8ED51"
                            ],
                            series: [
                                {
                                    name: '市场份额',
                                    type: 'pie',
                                    radius: '50%',
                                    center: ['40%', '55%'],
                                    avoidLabelOverlap: true,
                                    label: {
                                        normal: {
                                            show: true
                                        },
                                        emphasis: {
                                            show: true,
                                            textStyle: {
                                                fontSize: '10',
                                                fontWeight: 'bold'
                                            }
                                        }
                                    },
                                    labelLine: {
                                        normal: {
                                            show: true
                                        }
                                    },
                                    data: dlist,
                                }
                            ]
                        };
                        myChart.setOption(option);
                    }
                    else{
                        $("#canvasrow").append('<div class="col-md-12"><div id="' + site + '" style="width: 1000px;height:400px;"></div></div>');
                        var namelist = [],
                            myChart = echarts.init(document.getElementById(site)),
                            datas = result[site]['data'];
                        var series = [];
                        for (var name in datas) {
                            series.push({name: name, type: 'line', data: datas[name]['value'],
                                smooth:true});
                        }
                        series = series.sort(function (a, b) {
                            return b.data[b.data.length-1] - a.data[a.data.length-1]
                        });
                        for (var d in series){
                            namelist.push(series[d]['name']);
                        }
                        var option = {
                            title: {
                                text: ret['title'] +' '+ site.toUpperCase() + ' 数据/每' + dateSymbol,
                                x: 'center',
                                align: 'right'
                            },
                            color: [
                                "#81C2D6",
                                "#8192D6",
                                "#D9B3E6",
                                "#DCF7A1",
                                "#83FCD8",
                                "#61FF69",
                                "#B8F788",
                                "#58D2E8",
                                "#F2B6B6",
                                "#E8ED51"
                            ],
                            tooltip : {
                                trigger: 'axis',
                                axisPointer : {            // 坐标轴指示器，坐标轴触发有效
                                    type : 'line'        // 默认为直线，可选为：'line' | 'shadow'
                                }
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {},
                                    dataView: {}
                                },
                                optionToContent: function(opt) {
                                    var axisData = opt.xAxis[0].data;
                                    var series = opt.series;

                                    var table = '<table style="width:auto;text-align:center" border=2><tbody><tr>'
                                                 + '<td>时间</td>';
                                    for (var i = 0, ls = series.length; i<ls;i++){
                                        table += ('<td>' + series[i].name + '</td>');
                                    }
                                    table += '</tr>';
                                    for (var i = 0, l = axisData.length; i < l; i++) {
                                        table += ('<tr>'+ '<td>' + axisData[i] + '</td>');
                                        for (var j = 0, ls = series.length; j < ls; j++){
                                            table += ('<td>' + series[j].data[i] + '</td>');
                                        }
                                        table += '</tr>';
                                    }
                                    table += '</tbody></table>';
                                    return table;
                                },
                                top: '10%',
                                right: '5%'
                            },
                            legend: {
                                data:[],
                                x: 'left',
                                left:'5%',
                                top:'10%',
                                right: '10%',
                            },
                            grid: {
                                left: '3%',
                                right: '4%',
                                bottom: '3%',
                                top: '20%',
                                containLabel: true
                            },
                            xAxis : [
                                {
                                    type : 'category',
                                    data : []
                                }
                            ],
                            yAxis : [{type : 'value'}],
                            series : []
                        };

                        option.legend.data = namelist;
                        option.xAxis[0].data = ret['date'];
                        option.series = series;
                        myChart.setOption(option);
                    }

                }
            }
        ).error(function (){ alert('无此数据');});
    }

    $("#last-30-day").click(function () {
        getproductsshare('M', '30天');
    });
    $("#last-7-day").click(function () {
        getproductsshare('W', '7天');
    });
    $("#last-1-day").click(function () {
        getproductsshare('D', '1天');
    });

    var openmenu = function(menunow){
        menunow.attr("class", "open");
        menunow.children("ul").attr("style", "display: block;");
        menunow.siblings().attr("class", "");
        menunow.siblings().children("ul").attr("style", "display: none;");
    };
    $(document).ready(function() {
        Main.init();
        openmenu($('#toolbox'));
        $.getJSON('/api/getpsfi',
            function (ret){
                for (var k in ret){
                    var inputitem = $("#"+k);
                    for (var i in ret[k]){
                        inputitem.append('<option value="'+ ret[k][i] +'">' + ret[k][i] + '</option>');
                    }
                }
            }
        )
    });
</script>
{% endblock %}