
<!DOCTYPE html>
<!--[if IE 8]><html class="ie8 no-js" lang="en"><![endif]-->
<!--[if IE 9]><html class="ie9 no-js" lang="en"><![endif]-->
<!--[if !IE]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <title>漏洞信息查询系统</title>
    <link rel="shortcut icon" href="http://shared.ydstatic.com/images/favicon.ico" />
    <!-- start: META -->
    <meta charset="utf-8" />
    <!--[if IE]><meta http-equiv='X-UA-Compatible' content="IE=edge,IE=9,IE=8,chrome=1" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="Responsive Admin Template build with Twitter Bootstrap and jQuery" name="description" />
    <meta content="ClipTheme" name="author" />
    <!-- end: META -->
    <!-- start: MAIN CSS -->
    <link type="text/css" rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700|Raleway:400,100,200,300,500,600,700,800,900/" />
    <link type="text/css" rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/bower_components/font-awesome/css/font-awesome.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/assets/fonts/clip-font.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/bower_components/iCheck/skins/all.css" />
    <link type="text/css" rel="stylesheet" href="/static/bower_components/perfect-scrollbar/css/perfect-scrollbar.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/bower_components/sweetalert/dist/sweetalert.css" />
    <link type="text/css" rel="stylesheet" href="/static/assets/css/main.min.css" />
    <link type="text/css" rel="stylesheet" href="/static/assets/css/main-responsive.min.css" />
    <link type="text/css" rel="stylesheet" media="print" href="/static/assets/css/print.min.css" />
    <link type="text/css" rel="stylesheet" id="skin_color" href="/static/assets/css/theme/light.min.css" />

    <!-- end: MAIN CSS -->
    <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/static/bower_components/fullcalendar/dist/fullcalendar.min.css" rel="stylesheet" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
        <!-- start: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/static/bower_components/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="/static/bower_components/datatables/media/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <!-- end: CSS REQUIRED FOR THIS PAGE ONLY -->
    <link href="/static/bower_components/summernote/dist/summernote.css" rel="stylesheet" />

    <link href="/static/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <style>
        .navbar-content{
            position:fixed;
        }
        .clear{
            clear: both;
        }
    </style>
</head>

<body>

    <!-- start: HEADER -->
    <div class="navbar navbar-inverse navbar-fixed-top">
        <!-- start: TOP NAVIGATION CONTAINER -->
        <div class="container">
            <div class="navbar-header">
                <!-- start: RESPONSIVE MENU TOGGLER -->
                <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
                <span class="clip-list-2"></span>
            </button>
                <!-- end: RESPONSIVE MENU TOGGLER -->
                <!-- start: LOGO -->
                <a class="navbar-brand" href="index.html">
                <i class="clip-home"></i>漏洞信息查询系统
            </a>
                <!-- end: LOGO -->
            </div>
        </div>
        <!-- end: TOP NAVIGATION CONTAINER -->
    </div>
    <!-- end: HEADER -->
    <!-- start: MAIN CONTAINER -->
    <div class="main-container">
        <div class="navbar-content">
            <!-- start: SIDEBAR -->
            <div class="main-navigation navbar-collapse collapse">
                <!-- start: MAIN MENU TOGGLER BUTTON -->
                <div class="navigation-toggler">
                    <i class="clip-chevron-left"></i>
                    <i class="clip-chevron-right"></i>
                </div>
                <!-- end: MAIN MENU TOGGLER BUTTON -->
                <!-- start: MAIN NAVIGATION MENU -->
                <ul class="main-navigation-menu">
                    <li>
                        <!--active open-->
                        <a href="index.html">
                            <i class="clip-home-3"></i>
                            <span class="title"> Dashboard </span><span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0)">
                            <i class="clip-grid-6"></i>
                            <span class="title"> Tables </span><i class="icon-arrow"></i>
                            <span class="selected"></span>
                        </a>
                        <ul class="sub-menu">
                            <li id="tables">
                                <a href="#">
                                    <span class="title">Dynamic Tables</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="clip-location"></i>
                            <span class="title">Maps</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="clip-bars"></i>
                            <span class="title">Charts</span>
                            <span class="selected"></span>
                        </a>
                    </li>
                </ul>
                <!-- end: MAIN NAVIGATION MENU -->
            </div>
            <!-- end: SIDEBAR -->
        </div>

        <!-- start: PAGE -->
        <div class="main-content">
            <!-- start: PANEL CONFIGURATION MODAL FORM -->
            <div class="modal fade" id="panel-config" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                &times;
                            </button>
                            <h4 class="modal-title">Panel Configuration</h4>
                        </div>
                        <div class="modal-body">
                            Here will be a configuration form
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary">
                                Save changes
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
            <!-- end: SPANEL CONFIGURATION MODAL FORM -->
            <div class="container">
                <!-- start: PAGE HEADER -->
                <div class="row" id="page-header">
                    <div class="col-sm-12">
                        <!-- start: PAGE TITLE & BREADCRUMB -->
                        <ol class="breadcrumb">
                            <li>
                                <i class="clip-home-3"></i>
                                <a href="#">
                                    Home
                                </a>
                            </li>
                            <li class="active">
                                Dashboard
                            </li>
                            <li class="search-box">
                                <!--<form class="sidebar-search">-->
                                    <!--<div class="form-group">-->
                                        <!--<input type="text" placeholder="Start Searching..." disabled>-->
                                        <!--<button class="submit">-->
                                            <!--<i class="clip-search-3"></i>-->
                                        <!--</button>-->
                                    <!--</div>-->
                                <!--</form>-->
                            </li>
                        </ol>
                        <div class="page-header">
                            <h1>HoleInfo <small>retrieve &amp; stats </small></h1>
                        </div>
                        <!-- end: PAGE TITLE & BREADCRUMB -->
                    </div>
                </div>
                <!-- end: PAGE HEADER -->
                <!-- start: PAGE CONTENT -->
                <div class="row">
                    <div class="col-md-12">
                        <!-- start: FORM VALIDATION 1 PANEL -->
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-external-link-square"></i> Table selector
                                <div class="panel-tools">
                                    <!--<a class="btn btn-xs btn-link panel-collapse collapses" href="#">-->
                                    <!--</a>-->
                                    <!--<a class="btn btn-xs btn-link panel-config" href="#panel-config" data-toggle="modal">-->
                                        <!--<i class="fa fa-wrench"></i>-->
                                    <!--</a>-->
                                    <!--<a class="btn btn-xs btn-link panel-refresh" href="#">-->
                                        <!--<i class="fa fa-refresh"></i>-->
                                    <!--</a>-->
                                    <!--<a class="btn btn-xs btn-link panel-expand" href="#">-->
                                        <!--<i class="fa fa-resize-full"></i>-->
                                    <!--</a>-->
                                    <a class="btn btn-xs btn-link panel-close" href="#">
                                        <i class="fa fa-times"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <h2><i class="fa clip-search-3 teal"></i> 检索</h2>
                                <hr>
                                <form action="" role="form" id="form">
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    产品名 <span class="symbol"></span>
                                                </label>
                                                <select id="productName" class="form-control" name="productName">
                                                    <option value="">全部</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    类型 <span class="symbol"></span>
                                                </label>
                                                <select id="targetType" class="form-control" name="targetType">
                                                    <option value="">全部</option>
                                                    <option value="ip">ip</option>
                                                    <option value="domain">domain</option>
                                                    <option value="app">app</option>
                                                    <option value="other">other</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    漏洞等级 <span class="symbol"></span>
                                                </label>
                                                <select id="level" class="form-control" name="level">
                                                    <option value="">全部</option>
                                                    <option value="1">低</option>
                                                    <option value="2">中</option>
                                                    <option value="3">高</option>
                                                    <option value="4">严重</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="form-group">
                                                <label class="control-label">
                                                    漏洞状态 <span class="symbol"></span>
                                                </label>
                                                <select id="status" class="form-control" name="status">
                                                    <option value="">全部</option>
                                                    <option value="1">处理中</option>
                                                    <option value="3">已修复</option>
                                                    <option value="4">可接受风险</option>
                                                    <option value="5">误报</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <br>
                                    </div>
                                    <div class="row">
                                        <div class="tabbable col-md-12">
                                            <ul  class="nav nav-tabs tab-green">
                                                <li class="active">
                                                    <a href="#panel_tab4_1" data-toggle="tab" aria-expanded="true" id="apt41">
                                                        <i class="blue fa clip-airplane"></i> 季度查询
                                                    </a>
                                                </li>
                                                <li class="">
                                                    <a href="#panel_tab4_2" data-toggle="tab" aria-expanded="false" id="apt42">
                                                        <i class="pink fa clip-calendar"></i> 日期查询
                                                    </a>
                                                </li>

                                            </ul>
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="panel_tab4_1">
                                                    <div class="col-md-2">
                                                        <div class="form-group connected-group">
                                                            <label  class="control-label">
                                                                选择年份<span class="symbol"></span>
                                                            </label>
                                                            <div class="input-group">
                                                                <select id="year" class="form-control" name="year">
                                                                    <option value="">全部</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <div class="form-group connected-group">
                                                            <label  class="control-label">
                                                                选择季度<span class="symbol"></span>
                                                            </label>
                                                            <div class="input-group">
                                                                <select id="quarter" class="form-control" name="quarter">
                                                                    <option value="">全部</option>
                                                                    <option value="1">Q1</option>
                                                                    <option value="2">Q2</option>
                                                                    <option value="3">Q3</option>
                                                                    <option value="4">Q4</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-pane" id="panel_tab4_2">
                                                    <div class="col-md-4">
                                                        <div class="form-group connected-group">
                                                            <label  class="control-label">
                                                                开始日期<span class="symbol"></span>
                                                            </label>
                                                            <div class="input-group">
                                                                <input type="date" name="bgdate" id="bgdate"  class="form-control date-picker">

                                                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-md-4">
                                                        <div class="form-group connected-group">
                                                            <label  class="control-label">
                                                                结束日期<span class="symbol"></span>
                                                            </label>
                                                            <div class="input-group">
                                                                <input type="date" name="eddate" id="eddate" value=""  class="form-control date-picker">
                                                                <span class="input-group-addon"> <i class="fa fa-calendar"></i> </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clear"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-yellow btn-block" id="select" type="button">
                                                查询 <i class="fa fa-arrow-circle-right"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            <button class="btn btn-yellow btn-block" id="reset" type="reset">
                                                重置 <i class="fa clip-rotate-2"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- end: FORM VALIDATION 1 PANEL -->
                    </div>
                </div>

                <!-- end: PAGE CONTENT-->
            </div>
        </div>
        <!-- end: PAGE -->
    </div>
    <!-- end: MAIN CONTAINER -->
    <!-- start: FOOTER -->
    <div class="footer clearfix">
        <div class="footer-inner">
            <script>
                document.write(new Date().getFullYear())
            </script>
        </div>
        <div class="footer-items">
            <span class="go-top"><i class="clip-chevron-up"></i></span>
        </div>
    </div>
    <!-- end: FOOTER -->
    <!-- start: RIGHT SIDEBAR -->

    <!-- end: RIGHT SIDEBAR -->
    <div id="event-management" class="modal fade" tabindex="-1" data-width="760" style="display: none;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                    <h4 class="modal-title">Event Management</h4>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-light-grey">
                    Close
                </button>
                    <button type="button" class="btn btn-danger remove-event no-display">
                    <i class='fa fa-trash-o'></i> Delete Event
                </button>
                    <button type='submit' class='btn btn-success save-event'>
                    <i class='fa fa-check'></i> Save
                </button>
                </div>
            </div>
        </div>
    </div>
    <!-- start: MAIN JAVASCRIPTS -->
    <!--[if lt IE 9]>
        <script src="/static/bower_components/respond/dest/respond.min.js"></script>
        <script src="/static/bower_components/Flot/excanvas.min.js"></script>
        <script src="/static/bower_components/jquery-1.x/dist/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="/static/bower_components/jquery/dist/jquery.min.js"></script>
    <!--<![endif]-->

    <script type="text/javascript" src="/static/bower_components/jquery-ui/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/blockUI/jquery.blockUI.js"></script>
    <script type="text/javascript" src="/static/bower_components/iCheck/icheck.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/perfect-scrollbar/js/min/perfect-scrollbar.jquery.min.js"></script>
    <script type="text/javascript" src="/static/bower_components/jquery.cookie/jquery.cookie.js"></script>
    <script type="text/javascript" src="/static/bower_components/sweetalert/dist/sweetalert.min.js"></script>
    <script type="text/javascript" src="/static/assets/js/min/main.min.js"></script>
    <!-- end: MAIN JAVASCRIPTS -->
    <!-- start: JAVASCRIPTS REQUIRED FOR HOME PAGE ONLY -->
    <script src="/static/bower_components/Flot/jquery.flot.js"></script>
    <script src="/static/bower_components/Flot/jquery.flot.pie.js"></script>
    <script src="/static/bower_components/Flot/jquery.flot.resize.js"></script>
    <script src="/static/assets/plugin/jquery.sparkline.min.js"></script>
    <script src="/static/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js"></script>
    <script src="/static/bower_components/jqueryui-touch-punch/jquery.ui.touch-punch.min.js"></script>
    <script src="/static/bower_components/moment/min/moment.min.js"></script>
    <script src="/static/bower_components/fullcalendar/dist/fullcalendar.min.js"></script>
    <script src="/static/assets/js/min/index.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: JAVASCRIPTS REQUIRED FOR TABLE PAGE ONLY -->
    <script src="/static/bower_components/bootbox.js/bootbox.js"></script>
    <script src="/static/bower_components/jquery-mockjax/dist/jquery.mockjax.min.js"></script>
    <script src="/static/bower_components/select2/dist/js/select2.min.js"></script>
    <script src="/static/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
    <script src="/static/bower_components/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="/static/assets/js/min/table-data.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <!-- start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->
    <script src="/static/bower_components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="/static/bower_components/ckeditor/ckeditor.js"></script>
    <script src="/static/bower_components/ckeditor/adapters/jquery.js"></script>
    <script src="/static/bower_components/summernote/dist/summernote.min.js"></script>
    <script src="/static/assets/js/min/form-validation.min.js"></script>
    <!-- end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY -->

    <script src="/static/assets/js/min/form-elements.min.js"></script>
    <script>
        $(document).ready(function() {
            Main.init();
            var date = new Date();
            $("#eddate").val(date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate());


            $.getJSON("/api/productnamelist", function (ret) {
                        $.each(ret, function (idx, item) {
                            $("#productName").append('<option value="'+item.name+'">'+item.name+'</option>');
                        });
                    });
            var thisyear = date.getFullYear();
            while(thisyear>=2013){
                $("#year").append('<option value="'+thisyear+'">'+thisyear+'</option>');
                thisyear--;
            }
            $("#apt41").click(function (){
                $("#bgdate").val("");
                $("#eddate").val(date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate());

            });
            $("#reset").click(function (){
                $("#eddate").val(date.getFullYear()+"-"+(date.getMonth()+1)+"-"+date.getDate());

            });

            $("#apt42").click(function (){
                $("#year").val("");
                $("#quarter").val("");

            });
//            Index.init();
            $("#select").click(function () {
                var productName = $("#productName").val();
                var targetType = $("#targetType").val();
                var bgdate = $("#bgdate").val();
                var eddate = $("#eddate").val();
                var level = $("#level").val();
                var status = $("#status").val();
                var quarter = $("#quarter").val();
                var year = $("#year").val();
                if ($("#tablerow")){
                    $("#tablerow").remove();
                }
                $(".main-container .main-content .container").append('<div class="row" id="tablerow"><div class="col-md-12"><div class="panel panel-default"></div></div></div>');
                $("#tablerow div div").append('<div class="panel-heading"><i class="fa fa-external-link-square"></i> Dynamic Table<div class="panel-tools"><a class="btn btn-xs btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a></div></div>').append('<div class="panel-body"><table class="table table-striped table-bordered table-hover table-full-width" id="sample_1"></table></div>');
                $("table").append('<thead><tr><th>id</th><th class="hidden-xs">产品名</th><th>漏洞状态</th><th class="hidden-xs">目标类型</th><th class="hidden-xs">级别</th><th class="hidden-xs">更新状态</th><th>目标</th><th class="hidden-xs">创建时间</th><th class="hidden-xs">描述</th></tr></thead>');
                $("table").append('<tbody></tbody>');
                $.getJSON("/api/search",
                        {
                            "productName": productName,
                            "targetType":targetType,
                            "bgdate":bgdate,
                            "eddate":eddate,
                            "level":level,
                            "status":status,
                            "quarter":quarter,
                            "year":year,
                        }
                        , function (ret) {
                            $.each(ret, function (idx, item) {
                                $("table tbody").append('<tr><td>' + item.id + "</td><td>" + item.productName + "</td><td>" + item.status +
                                        "</td><td>" + item.targetType + "</td><td>" + item.level +
                                        "</td><td>" + item.updateStatus + "</td><td>" + item.targets + "</td><td>" + item.createTime + '</td><td><a target="_blank" href=/api/detailbyid?id='+item.id+'>详情</a></td></tr>');
                            });
                            TableData.init();
                            Main.init();
                        });
            });
        });
    </script>

</body>

</html>